#parse("common/head3.vm")
<style>
    /**** BASE ****/
    body {
        color: #888;
    }
    a {
        color: #03a1d1;
        text-decoration: none!important;
    }

    /**** LAYOUT ****/
    .list-inline>li {
        padding: 0 10px 0 0;
    }
    .container-pad {
        padding: 30px 15px;
    }


    /**** MODULE ****/
    .bgc-fff {
        background-color: #fff!important;
    }
    .box-shad {
        -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
        box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    }
    .brdr {
        border: 1px solid #ededed;
    }

    /* Font changes */
    .fnt-smaller {
        font-size: .9em;
    }
    .fnt-lighter {
        color: #bbb;
    }

    /* Padding - Margins */
    .pad-10 {
        padding: 10px!important;
    }
    .mrg-0 {
        margin: 0!important;
    }
    .btm-mrg-10 {
        margin-bottom: 10px!important;
    }
    .btm-mrg-20 {
        margin-bottom: 20px!important;
    }

    /* Color  */
    .clr-535353 {
        color: #535353;
    }

    /**** MEDIA QUERIES ****/
    @media only screen and (max-width: 991px) {
        #property-listings .property-listing {
            padding: 5px!important;
        }
        #property-listings .property-listing a {
            margin: 0;
        }
        #property-listings .property-listing .media-body {
            padding: 10px;
        }
    }

    @media only screen and (min-width: 992px) {
        #property-listings .property-listing img {
            max-width: 180px;
        }
    }
</style>
<div class="container-fluid" style="background-color:#e8e8e8">
<div class="container container-pad" id="property-listings">
<div class="row">
    <div class="col-md-12">
        <h1>方格儿网</h1>
        <p>我们建议大家做有良心的APP</p>
    </div>
</div>
<div class="row">
<div class="col-sm-6">
    <!-- Begin Listing: 609 W GRAVERS LN-->
    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
        <div class="media">
            <a class="pull-left" href="weixin" target="_parent">
                <img alt="image" class="img-responsive" src="http://img.sj33.cn/uploads/allimg/201402/7-140223103130591.png"></a>
            <div class="clearfix visible-sm"></div>

            <div class="media-body fnt-smaller">
                <a href="weixin" target="_parent"></a>

                <h4 class="media-heading">
                    <a href="wei" target="_parent">微信
                        <small class="pull-right">版本：V6.0</small>
                    </a></h4>

                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                    <li>联网</li>

                    <li style="list-style: none">|</li>

                    <li>通信录</li>

                    <li style="list-style: none">|</li>

                    <li>短信</li>
                </ul>

                <p class="hidden-xs">能够上传你的通信录，短信，通话记录等内容到服务器</p>
                <span class="fnt-smaller fnt-lighter fnt-arial">
                    微信，是一个生活方式。
                </span>
            </div>
        </div>
    </div><!-- End Listing-->

    <!-- Begin Listing: 218 LYNNEBROOK LN-->
    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
        <div class="media">
            <a class="pull-left" href="#" target="_parent">
                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/zMjCkcFeFDXDAP8xDhbD9ZmrVL7oGkBvSnh2bDBZ6UB5UHXa3_g8c6XYhRY_OxgGaMBMehiTWXDSLzBMaIzRhA.jpg"></a>

            <div class="clearfix visible-sm"></div>

            <div class="media-body fnt-smaller">
                <a href="#" target="_parent"></a>

                <h4 class="media-heading">
                    <a href="#" target="_parent">$1,975,000 <small class="pull-right">218 Lynnebrook Ln</small></a></h4>


                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                    <li>6,959 SqFt</li>

                    <li style="list-style: none">|</li>

                    <li>6 Beds</li>

                    <li style="list-style: none">|</li>

                    <li>5 Baths</li>
                </ul>

                <p class="hidden-xs">Impressively positioned
                    overlooking 3.5 captivating acres, designated
                    as "significant" by the chestnut hill
                    historical s...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox & Roach-Blue Bell</span>
            </div>
        </div>
    </div><!-- End Listing-->

    <!-- Begin Listing: 209 CHESTNUT HILL AVE-->
    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
        <div class="media">
            <a class="pull-left" href="#" target="_parent">
                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/iwn7qH9r9OPnqTaTTxxb8PBzQHk2EiHU2PBBntt041AZsVsGY-SeUexTMLgRcYSJukrKOwHaYnTVXAsk6RdSmA.jpg"></a>

            <div class="clearfix visible-sm"></div>

            <div class="media-body fnt-smaller">
                <a href="#" target="_parent"></a>

                <h4 class="media-heading">
                    <a href="#" target="_parent">$1,599,999 <small class="pull-right">209 Chestnut Hill ve</small></a></h4>


                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                    <li>16,581 SqFt</li>

                    <li style="list-style: none">|</li>

                    <li>8 Beds</li>

                    <li style="list-style: none">|</li>

                    <li>4 Baths</li>
                </ul>

                <p class="hidden-xs">Built in 1909 by
                    pittsburgh steel magnate henry a. laughlin,
                    greylock is a classic chestnut hill stone
                    mansion once cons...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of ng and Foster-Devon</span>
            </div>
        </div>
    </div><!-- End Listing-->

    <!-- Begin Listing: 704 SAINT GEORGES ST-->
    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
        <div class="media">
            <a class="pull-left" href="#" target="_parent">
                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/7IZk2HTN0AcHnIb7VCvisTUc3kTbn0UyHQlVAlwkNLM3_8UNN8pcgy9u6KVNoRGGH_kdUlpYehdbqzctRNUebg.jpg"></a>

            <div class="clearfix visible-sm"></div>

            <div class="media-body fnt-smaller">
                <a href="#" target="_parent"></a>

                <h4 class="media-heading">
                    <a href="#" target="_parent">$1,595,000 <small class="pull-right">704 Saint Georges St</small></a></h4>


                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                    <li>0 SqFt</li>

                    <li style="list-style: none">|</li>

                    <li>4 Beds</li>

                    <li style="list-style: none">|</li>

                    <li>5 Baths</li>
                </ul>

                <p class="hidden-xs">Blake development is proud
                    to offer the second of two distinctly unique
                    homes located on one of the most desirable
                    stree...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox & Roach-Chestnut Hill
                                Evergreen</span>
            </div>
        </div>
    </div><!-- End Listing-->



</div>

<div class="col-sm-6">

    <!-- Begin Listing: 1220-32 N HOWARD ST-->
    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
        <div class="media">
            <a class="pull-left" href="#" target="_parent">
                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/vGoNjc2jHGb87GlnnDQlf6LxeOUgIOn0bL6Wvn1nEnig2Ntq6W7xN5cOQBZZeNxl9O42DOkHUw0LNnj1ZB2KHA.jpg"></a>

            <div class="clearfix visible-sm"></div>

            <div class="media-body fnt-smaller">
                <a href="#" target="_parent"></a>

                <h4 class="media-heading">
                    <a href="#" target="_parent">$1,500,000 <small class="pull-right">1220-32 N Howard St</small></a></h4>


                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                    <li>4,900 SqFt</li>

                    <li style="list-style: none">|</li>

                    <li>1 Beds</li>

                    <li style="list-style: none">|</li>

                    <li>1 Baths</li>
                </ul>

                <p class="hidden-xs">A once in a lifetime
                    opportunity to own a unique live / work space
                    in one of philadelphia's most popular
                    neighborhoods. ...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of ll Banker Preferred-Philadelphia</span>
            </div>
        </div>
    </div><!-- End Listing-->

    <!-- Begin Listing: 9006 CREFELD ST-->
    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
        <div class="media">
            <a class="pull-left" href="#" target="_parent">
                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/uLp58OH37CTPHxXcgJXYw8zT2u3xg_2XIbFndB6J0WTSAStGBaEV6YsdAseSZTKAdthm0OzG-Ca_EIkoXIEBxw.jpg"></a>

            <div class="clearfix visible-sm"></div>

            <div class="media-body fnt-smaller">
                <a href="#" target="_parent"></a>

                <h4 class="media-heading">
                    <a href="#" target="_parent">$1,295,000 <small class="pull-right">9006 Crefeld St</small></a></h4>


                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                    <li>7,672 SqFt</li>

                    <li style="list-style: none">|</li>

                    <li>7 Beds</li>

                    <li style="list-style: none">|</li>

                    <li>5 Baths</li>
                </ul>

                <p class="hidden-xs">Located in chestnut hill,
                    recently named by the american planning
                    association as one of america's top 10 great
                    neighborh...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of RE/MAX Services</span>
            </div>
        </div>
    </div><!-- End Listing-->

    <!-- Begin Listing: 701 W ALLENS LN-->
    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
        <div class="media">
            <a class="pull-left" href="#" target="_parent">
                <img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/K12MLs4i-e2rsQ-rA6DoCwlysXSrEXZyHtCFkrOLsvK1y2mvbUrlmw5pMXX1laXlnY9_0VU82YeS3EucwIchtg.jpg"></a>

            <div class="clearfix visible-sm"></div>

            <div class="media-body fnt-smaller">
                <a href="#" target="_parent"></a>

                <h4 class="media-heading">
                    <a href="#" target="_parent">$1,175,000 <small class="pull-right">701 W Allens Ln</small></a></h4>


                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                    <li>9,824 SqFt</li>

                    <li style="list-style: none">|</li>

                    <li>8 Beds</li>

                    <li style="list-style: none">|</li>

                    <li>5 Baths</li>
                </ul>

                <p class="hidden-xs">A once in a lifetime
                    opportunity! live in this grand home with its
                    stunning entry and staircase, bedroom suites,
                    firepla...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox & Roach-Chestnut Hill
                                Evergreen</span>
            </div>
        </div>
    </div><!-- End Listing-->
</div><!-- End Col -->
</div><!-- End row -->
</div><!-- End container -->
</div>
#parse("common/bottom3.vm")