<?xml version="1.0"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="fileDir" value="/logs/" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="localFile" class="ch.qos.logback.core.FileAppender">
        <file>${fileDir}/web.log</file>
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.fangger" level="DEBUG" />
    <logger name="org.springframework" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="localFile"/>
    </root>
</configuration>